<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Search</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="enter search text" aria-label="searchText" aria-describedby="basic-addon1">
      </div>       
    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary" (click)="trainModel();">Train Model</button>
        <button type="button" class="btn btn-primary" (click)="predict();">Predict</button>
    </div>
  </div>
  <div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
            <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();"/>
        </th>
        <th>Well Name</th>
        <th>Depth</th>
        <th>UWI</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of thinsections$ | async | thinSections: searchText; let i = index" (click)="setClickedRow(i, s)" [class.active]="i == selectedRow">
        <td>
            <input type="checkbox" (click)="toggleCheck(s.ThinSectionID);" />
        </td>
        <td>{{s.WellName}}</td>
        <td>{{s.Depth}}</td>
        <td>{{s.UWI}}</td>
        <td>
            <span class="badge badge-primary" *ngIf="s.Status=='Processed'">{{s.Status}}</span>
            <span class="badge badge-danger" *ngIf="s.Status=='Waiting'">{{s.Status}}</span>
            <span class="badge badge-success" *ngIf="s.Status=='Complete'">{{s.Status}}</span>
        </td>
      </tr>
    </tbody>
  </table>
  </div>


</div>
