<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <div style="text-align:center">
            <h1 class="display-4">Hello</h1>
            <img src="assets/img/rockbot_logo.png">
          </div>
    </div>
    <div class="col-sm-6">
        <table class="table table-responsive">
          <tbody>
              <tr>
                  <td>
                    <a href="/camera">
                        <img src="assets/img/Thinsection.PNG" width="50" height="50"> Take Photos
                    </a>
                  </td>
                </tr>
            <tr>
              <td>
                <a href="/filedrop">
                    <img src="assets/img/Thinsection.PNG" width="50" height="50"> Upload Thin Sections
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="/label-cuttings">
                  <img src="assets/img/cutting.PNG" width="50" height="50"> Label Cuttings
                </a>
              </td>
            </tr>
            <tr>
              <td>
                  <a href="/models">
                    <img src="assets/img/model.PNG" width="50" height="50"> Train Models
                  </a>
              </td>
            </tr>
            <tr>
                <td>
                  <a href="/predictions">
                    <img src="assets/img/results.PNG" width="50" height="50"> Predictions
                  </a> 
                </td>
              </tr>
          </tbody>
        </table>
        <div>

        </div>
    </div>
  </div>
</div>
